= link_to 'Edit', edit_profile_path(@profile)
= link_to 'Destroy', profile_path(@profile), |
    method: :delete,                          |
    data: { confirm: 'Are you sure?' }        |


= link_to 'Back', profiles_path
