@font-face {
  font-family: "ginger";
  src: url(/assets/f37ginger-bold-webfont.eot);
  src: url(/assets/f37ginger-bold-webfont.eot?#iefix) format("embedded-opentype"), url("f37ginger-bold-webfont.woff") format("woff"), url("f37ginger-bold-webfont.ttf") format("truetype"), url("f37ginger-bold-webfont.svg#f37_gingerbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("lato-regular-webfont.eot");
  src: url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("lato-regular-webfont.woff2") format("woff2"), url("lato-regular-webfont.woff") format("woff"), url("lato-regular-webfont.ttf") format("truetype"), url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight";
  src: url("lato-light-webfont.eot");
  src: url("lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("lato-light-webfont.woff2") format("woff2"), url("lato-light-webfont.woff") format("woff"), url("lato-light-webfont.ttf") format("truetype"), url("lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoitalic";
  src: url("lato-italic-webfont.eot");
  src: url("lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("lato-italic-webfont.woff2") format("woff2"), url("lato-italic-webfont.woff") format("woff"), url("lato-italic-webfont.ttf") format("truetype"), url("lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("lato-bold-webfont.eot");
  src: url("lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("lato-bold-webfont.woff2") format("woff2"), url("lato-bold-webfont.woff") format("woff"), url("lato-bold-webfont.ttf") format("truetype"), url("lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .intro {
  width: 1095px;
  margin: auto;
  background-color: #0723a4;
  padding: 100px 0;
}
/* line 14, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .intro h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: Ginger;
  font-weight: normal !important;
}
/* line 22, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile {
  width: 207px;
  float: left;
  margin: 0 15px 25px 15px;
  height: 317px;
  background-color: #f4f7f7;
  border: 1px solid transparent;
  padding: 15px;
  position: relative;
}
/* line 31, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile:hover {
  border: 1px solid #dae3e5;
}
/* line 33, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile:hover a {
  text-decoration: none;
}
/* line 36, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile h2 {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
}
/* line 41, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile h2, #index .profile p {
  position: relative;
  z-index: 10;
}
/* line 44, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile .basics {
  display: inline-block;
  margin-right: 5px;
}
/* line 48, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile .strength {
  color: green;
}
/* line 50, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile .weakness {
  color: red;
}
/* line 53, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile .pack {
  color: #adc1c5;
  position: absolute;
  bottom: 0;
  left: 15px;
}
/* line 59, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile .image {
  height: 200px;
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 0;
  bottom: 150px;
  right: 0;
  background-position: center !important;
  background-size: cover !important;
  background: url("face.svg") center no-repeat;
}
/* line 72, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#index .profile.add .image {
  background: url("egg.svg") center no-repeat;
}

/* line 86, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#new label, #new textarea, #new input, #create label, #create textarea, #create input, #edit label, #edit textarea, #edit input, #update label, #update textarea, #update input {
  width: 100%;
  mmargin: none;
}
/* line 90, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#new label, #create label, #edit label, #update label {
  margin-bottom: 5px;
  display: inline-block;
}
/* line 94, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#new textarea, #new input, #create textarea, #create input, #edit textarea, #edit input, #update textarea, #update input {
  margin-bottom: 15px;
  padding: 10px;
}
/* line 98, /Users/laurenceberry/code/who_for/app/assets/stylesheets/profiles.css.sass */
#new textarea, #create textarea, #edit textarea, #update textarea {
  height: 75px;
}

/* line 1, /Users/laurenceberry/code/who_for/app/assets/stylesheets/typography.css.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  font-weight: 300;
}
/* line 7, /Users/laurenceberry/code/who_for/app/assets/stylesheets/typography.css.sass */
body a, body p, body input {
  font-size: 1em;
  color: black;
}
/* line 11, /Users/laurenceberry/code/who_for/app/assets/stylesheets/typography.css.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 300;
}

/* line 1, /Users/laurenceberry/code/who_for/app/assets/stylesheets/layout.css.sass */
main {
  width: 1200px;
  margin: auto;
  padding: 1em;
}

/* line 4, /Users/laurenceberry/code/who_for/app/assets/stylesheets/layout.css.sass */
.main {
  width: 1200px;
  margin: auto;
  padding: 1em;
}

/* line 6, /Users/laurenceberry/code/who_for/app/assets/stylesheets/layout.css.sass */
body {
  margin: 15px 0 0 0;
}

/* line 10, /Users/laurenceberry/code/who_for/app/assets/stylesheets/layout.css.sass */
.narrow-container, .wide-container, .aside {
  padding: 25px;
  margin-bottom: 75px;
  background-color: white;
  position: relative;
}

/* line 16, /Users/laurenceberry/code/who_for/app/assets/stylesheets/layout.css.sass */
.narrow-container {
  max-width: 920px;
}

/* line 1, /Users/laurenceberry/code/who_for/app/assets/stylesheets/buttons.css.sass */
input.button {
  -webkit-appearance: none;
  border: none;
}

/* line 5, /Users/laurenceberry/code/who_for/app/assets/stylesheets/buttons.css.sass */
.button {
  padding: 10px;
  background-color: #2e9ad9;
  color: white;
}
