%header
  .inner
    %a.logo{:href => root_path} Persona
    - if user_signed_in?
      = link_to current_user.email, edit_user_registration_path(current_user), class: "user_link"
    - else
      = link_to "Sign in", new_user_session_path, class: "user_link"




