.card
  +span-columns(4 of 12)
  +omega(4n)
  margin-bottom: 15px
  position: relative
  background-color: $light_grey
  +media($medium)
    +span-columns(6 of 12)
    +omega(1n)
  +media($small)
    width: 100%

  text-decoration: none
  &:hover
    a
      text-decoration: none

  .intro, .basics, .add
    +span-columns(4 of 4)
    position: relative
    padding: 5px
    .image
      +span-columns(1 of 4)
      position: absolute
      top: 0
      bottom: 0
      left: 0
      background-color: $primary
      overflow: hidden
      img
        width: 100%
        min-width: 100%
        min-height: 100%
    .preview
      +span-columns(3 of 4)
      +shift(1 of 4)
      p
        font-weight: 400

    h2
      font-size: 1.2em
      display: inline-block
      margin-bottom: 0
      margin-right: 5px
      color: $primary
    h2, p
      position: relative
      z-index: 10
  .basics
    background-color: $lightest_grey
    padding: 5px 15px
    p span
      font-weight: 400
      color: $primary

  .pack
    color: $dark_grey
    margin: 0

.add
  .intro
    .image
      background-color: $green

.pack
  .intro
    .image
      background-color: $dark_grey
