#show, #edit, #new

  %block,
  .block
    background-color: $light_grey
    margin-bottom: 0
    padding: 15px
    border-right: 10px solid white
    border-top: 10px solid white
    p span
      font-weight: 600
      color: $primary
    h2, h3
      margin-top: 5px

  .overview, .characteristics, .detail, .call-to-action
    .block
      ul, li
        margin-top: 0

  .overview
    +span-columns(12)
    .basics
      +span-columns(4 of 12)
      +omega()
      +media($medium)
        +span-columns(6 of 12)
        +omega()
        h1
          border-top: 10px solid white
      +media($small)
        width: 100%
      h1
        @extend %block
        width: 100%
        font-weight: 600
        font-size: 2.5em
        line-height: 1.25em
        text-align: center
        background-color: $primary
        color: $light_grey
        margin-top: 0
        padding: 25px
        border-top: none

      .image
        @extend %block
        padding: 0
        background-color: $primary
        overflow: hidden
        background-size: cover
        height: 300px
        +media($small)
          height: 400px

    .quote
      +span-columns(8 of 12)
      @extend %block
      border-top: none
      +media($medium)
        +span-columns(6 of 12)
        +omega()
      +media($small)
        width: 100%
        border-top: 10px solid white

      p
        color: $primary
        font-weight: 500
        font-size: 2.5em
        line-height: 1.25em
        text-align: center

    .right
      +span-columns(8 of 12)
      +media($medium)
        +span-columns(6 of 12)
        +omega()
      +media($small)
        width: 100%
      .characteristics, .detail
        +span-columns(8 of 8)
        +media($small)
          width: 100%
        p
          white-space: pre-line
        .block
          width: 50%
          float: left
          margin: 0
          +media($medium)
            width: 100%

.title-block
  @extend %block
  width: 100%
  background-color: darken($dark_grey, 30%) !important
  color: #fff
  padding: 0 15px !important
  display: inline-block
  h2
    margin: 10px 0

.scaler
  .scale-background
    background-color: $grey
    width: 100%
    border-radius: 10px
  .scale
    height: 15px
    border-radius: 10px
    background-color: $primary

#edit, #new
  fieldset
    margin-bottom: 15px
  .overview
    .basics .block
      border-top: 0
    .right
      .characteristics, .detail
        width: 100%
        .block
          width: 100%
